.all {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.recommended {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin-top: 3rem;
  align-items: center;
  width: 50%;
}
