.main {
  margin-top: 4rem;
}

.mainPage {
  background-color: #f4f5f7;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-display: column;
  justify-content: center;
  overflow-x: hidden;
}

.mainContents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.writeBtn {
  position: static;
  top: 10px;
  background-color: #ff914d;
  width: 60px;
  height: 30px;
  margin-right: 50px;
  margin-left: 10px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
}
