.posts_Main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.posts__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}
