@value RtyBrown, RtyPurple,RtyIvory,RtyOrange,dimWhite,RtyWhite,RtyGrey,dimBlack from '../../../common/colors.css';
@value fontLarge,fontMedium,fontSmall from '../../../common/size.css';

.profile {
  margin: auto;
  border-radius: 1rem;
  background-color: RtyIvory;
  display: flex;
  flex-direction: column;
  width: 36rem;
  height: 80vh;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border: RtyBrown solid 0.2rem; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.decsWrap {
  margin-top: 0.5rem;
  color: black;
  background-color: transparent;
}
.decs1 {
  font-size: 3rem;
}
.decs2 {
  color: RtyPurple;
  font-size: 1.5rem;
  font-weight: 500;
}
.decs3 {
  font-weight: 500;
  font-size: 2.5rem;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 1rem;
}
