/* @value RtyBrown,RtyBlack,RtyIvory,RtyRed,dimBlack, RtyPurple, RtyOrange, dimWhite, RtyWhite, RtyGrey from '../../common/colors.css'; 
@value fontLarge,fontMedium,fontSmall from '../../common/size.css'; */

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment_image_container {
  margin-right: 12px;
}

.comment_image_container img {
  border-radius: 50px;
  width: 40px;
  width: 42px;
  height: 42px;
  object-fit: cover;
}

.comment_right_part {
  width: 100%;
}

/* .comment_content {
    display: flex;
} */

.comment_author {
  margin-right: 8px;
  font-size: 17px;
  color: rgb(255, 112, 23);
}

.created_at {
  font-size: 12px;
}

.comment_text {
  font-size: 17px;
}

/* .comment_actions {
    display: flex;
    color: rgb(51, 51, 51);
    cursor: pointer;
    margin-top: 8px;
} */

.comment_action {
  margin-right: 8px;
  font-size: 5px;
}

.comment_action:hover {
  text-decoration: underline;
}
