@value RtyBrown,RtyBlack,RtyIvory,RtyRed,dimBlack, RtyPurple, RtyOrange, dimWhite, RtyWhite, RtyGrey from '../../common/colors.css';
@value fontLarge,fontMedium,fontSmall from '../../common/size.css';

.sectionSignUp {
  height: 100vh;
  width: 100vw;
  background-image: url('../../../public/img/6.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-position: center;
  justify-content: center;
}

.logo {
  width: 150px;
  height: 150px;
}
.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
  text-align: center;
}
.container {
  width: 50%;
  height: 100vh;
  background-color: dimBlack;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 48px;
}

.formInput,
.button {
  width: 60%;
  margin: 10px 0px;
  height: 40px;
  font-size: fontSmall;
  color: RtyBlack;
  background-color: dimWhite;
  border: RtyWhite solid 1px;
}
.button {
  border: RtyPurple solid 1px;
  background-color: RtyPurple;
  color: RtyWhite;
  border-radius: 12px;
}

.button:hover {
  color: RtyWhite;
  background-color: RtyOrange;
  border: RtyOrange solid 2px;
}
.error {
  background-color: dimBlack;
  width: 100%;
  font-size: 20px;
  color: RtyRed;
}
.link {
  width: 60%;
  text-align: center;
}
.link > a {
  white-space: nowrap;
  color: RtyBlack;
  text-decoration: none;
}
p {
  border-radius: 12px;
  font-size: fontSmall;
  color: RtyWhite;
  background-color: dimBlack;
  margin-bottom: 8px;
}
p:hover {
  font-size: 28px;
  color: RtyBlack;
  background-color: dimWhite;
}
